<h1>New Game</h1>
<ul>
  <% @letters.each do |letter| %>
  <li><%= letter %></li>
  <% end %>
</ul>

<h3>What is the longest word you could find?</h3>
<form action="score">
  <%= hidden_field_tag "letters", @letters %>
  <input id="input" type="text" name="word" placeholder="Your answer..">
  <input id="btn-submit" type="submit" value="Submit">
</form>

